@model List<Foto>

@foreach (var foto in Model)
{
    <div class="row">
        <div class="col">
            <h3>@foto.Titolo</h3>
        </div>
        <div class="col">
            <h3>@foto.Descrizione</h3>
        </div>
        <div class="col">
            @if (foto.Immagine == null)
            {
                <h6>Questa foto è null</h6>
            }
            else
            {
                <h3>@foto.Immagine</h3>
            }
        </div>
        <div class="col">
            @if (foto.Visibile == true)
            {
                <h6>Foto visibile</h6>
            }
            else
            {
                <h6>Foto non visibile</h6>
            }
        </div>

    </div>
}
